<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="robots" content="noindex,nofollow" />
	<%= stylesheet_link_tag 'login' %>
  <title>login to your bookqueue</title>
</head>

<body class="oldmodal login"
  onload="document.forms[0].elements[0].focus();">

<div id="Container">  
  <div id="Modal">
    <div class="inner">
      <% form_tag session_path do -%>
        <dl>
          <div class="user_name_and_password_login">
            <dt>Username:</dt>
            <dd><%= text_field_tag 'login' %></dd>
            <dt>Password:</dt>
            <dd>
              <%= password_field_tag 'password' %>
            </dd>
          </div>
          <dd>
           	<%= submit_tag 'Log in' %>
          </dd>
        </dl>
			<% end -%>
    </div>
  </div>
</div>

</body>
</html>