/**
	ie related fixes
**/

#main_form
{
	float:left;
	width:400px;
}

#sidebar
{
	float:left;
	margin:60px 0 0;
	padding:0;
	width:150px;
}

hr
{
	background-color:#666;
	color:#666;
	height:1px;
}

input
{
	width:400px;
}