/**
	login specific classes
**/


#Modal
{
	background:#fff;
	border:10px solid #d0c7ae;
	margin:5px auto;
	text-align:left;
	width:650px;
}

#Modal div.inner
{
	margin:15px 20px 10px;
}

#Modal div.submit
{
	border-top:1px solid #ccc;
	color:#999;
	margin-top:20px;
	padding:10px 0;
}

#Modal div.submit a:link,#Modal div.submit a:visited
{
	color:red;
}

#Modal div.submit input
{
	font-size:16px;
}

.button
{
	background:#7d674c url(/images/bg_button.gif) repeat-x scroll 0 100%;
	border:1px solid #75604d;
	color:#FFF;
	cursor:pointer;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:135%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:normal;
	padding:6px 12px;
	width:80px;
}

.login dd
{
	color:#666;
	font-size:11px;
	line-height:24px;
	margin:0 0 5px 85px;
}

.login div#First
{
	margin:60px auto -30px;
	width:500px;
}

.login div#First h1
{
	color:#c30;
	font-size:16px;
	margin:0 0 3px;
}

.login div#First h2
{
	color:#000;
	font-size:14px;
	font-weight:400;
	margin:0 0 2px;
	padding:0;
}

.login div#First p
{
	font-size:12px;
	margin:0 0 10px;
	padding:0;
}

.login div#Message
{
	background:#080;
}

.login div#Modal
{
	margin:20px auto 0;
	width:500px;
}

.login div#Modal div.inner
{
	margin-bottom:15px;
}

.login div#errorMessage a:link,.login div#errorMessage a:visited
{
	color:#fff;
}

.login div#errorMessage,.login div#Message
{
	background:#c00;
	border-bottom:1px solid #c99;
	border-top:1px solid #c99;
	color:#fff;
	font-size:11px;
	font-weight:700;
	margin:0 0 0 90px;
	padding:5px;
	text-align:left;
}

.login div.Container
{
	margin:60px auto 20px;
}

.login dl
{
	margin:10px 0 0 93px;
}

.login dt
{
	clear:right;
	float:left;
	font-size:14px;
	font-weight:400;
	line-height:24px;
	width:80px;
}

.login h1
{
	margin-bottom:20px;
}

.login img#logo
{
	float:left;
}

.login input
{
	font-size:14px;
}

.oldmodal div#Container
{
	background:none;
}

body
{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:12px;
	margin:0;
	padding-top:20px;
	text-align:center;
}

body.login div.below
{
	font-size:10px;
	margin:5px auto 0;
	padding:0;
	text-align:right;
	width:520px;
}

body.login div.below a
{
	color:#666;
}

form
{
	margin:0;
	padding:0;
}

html,body
{
	background:#e3d9bd;
}

input
{
	background:#FFF url(/images/bg_input.gif) repeat-x scroll left bottom;
	border:1px solid #B3B3B3;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:110%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:normal;
	padding:5px;
}

input:focus,input:hover,textarea:hover
{
	border:1px solid #75604d;
}