#container
{
	margin:0 auto;
	width:600px;
}

#current
{
	width:600px;
}

#errorExplanation
{
	background-color:#f0f0f0;
	border:2px solid red;
	margin-bottom:20px;
	padding:7px 7px 12px;
	width:420px;
}

#errorExplanation h2
{
	background-color:#c00;
	color:#fff;
	font-size:12px;
	font-weight:700;
	margin:-7px;
	padding:5px 5px 5px 15px;
	text-align:left;
}

#errorExplanation p
{
	color:#333;
	margin-bottom:0;
	padding:5px;
}

#errorExplanation ul li
{
	font-size:12px;
	list-style:square;
}

#header
{
	background:url('/images/header_bg.gif');
	background-color:#968160;
	color:#d7cea1;
	margin:0;
	padding:5px;
	text-align:center;
	width:99%;
}

#header a
{
	color:#d7cea1;
	font-weight:bolder;
}

#header img
{
	border:0;
}

#main_form
{
	float:left;
	margin:0;
	padding:0;
	width:430px;
}

#notice
{
	background-color:#ffc;
	border:#FF0 1px solid;
	margin:20px auto 0;
	padding:5px;
	text-align:center;
	width:600px;
}

#review
{
	margin-top:-30px;
}

#sidebar
{
	float:left;
	margin-left:20px;
	margin-top:50px;
	width:150px;
}

#stats
{
	margin:0 0 auto;
	width:600px;
}

.book_cover
{
	width:100px;
}

.book_description
{
	width:200px;
}

.button
{
	background:#625d57 url(/images/bg_button.gif) repeat-x scroll 0 100%;
	border:1px solid #75604d;
	color:#FFF;
	cursor:pointer;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:135%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:normal;
	padding:6px 12px;
	width:80px;
}

.current_author
{
	margin-top:-10px;
}

.current_blurb
{
	color:#666;
	text-align:justify;
}

.fieldWithErrors
{
	background-color:red;
	display:table;
	padding:2px;
}

.finished_book_cover
{
	width:50px;
}

.finished_book_description
{
	color:#333;
	font-size:80%;
	width:110px;
}

.form
{
	background-color:#fff;
	border:10px solid #d0c7ae;
	margin:0 auto;
	padding:10px 10px 10px 20px;
	width:600px;
}

a,a:visited
{
	color:#968160;
}


body
{
	background:url('/images/page_bg2.gif');
	background-color:#e3d9bd;
	background-repeat:repeat-x;
	color:#333;
	margin:0;
	padding:0;
}

body,p,ol,ul,td
{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:0.9em;
	line-height:1.2em;
}

div.progressBar div.background
{
	background-color:#333;
	height:18px;
	width:0;
}

div.progressBar div.border
{
	background-color:#fff;
	border:1px solid grey;
	width:100%;
}

div.uploadStatus,div.progressBar
{
	margin:5px;
}

h1
{
	font-size:22px;
	margin-top:20px;
}

hr
{
	background-color:#ddd;
	color:#ddd;
	height:1px;
	margin-bottom:10px;
}

img
{
	border:1px solid #666;
}


input,textarea
{
	background:#efefef none repeat scroll 0;
	border-color:#D1D1D1 #e9e9e9 #e9e9e9 #d1d1d1;
	border-style:solid;
	border-width:1px;
	color:#535353;
	line-height:130%;
	width:430px;
}

input
{
	background:#FFF url(/images/bg_input.gif) repeat-x scroll left bottom;
	border:1px solid #B3B3B3;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:110%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:normal;
	padding:5px;
	width:420px;
}


input,textarea,select
{
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-size:100%;
	font-size-adjust:none;
	font-stretch:normal;
	font-style:normal;
	font-variant:normal;
	font-weight:400;
	line-height:normal;
}

input:focus,input:hover,textarea:hover
{
	border:1px solid #75604d;
}

pre
{
	background-color:#eee;
	font-size:11px;
	padding:10px;
}

#logo {
  width: 600px; 
  margin: 0 auto; 
  text-align: center;
}

#no_book {
  text-align: center;
   padding: 30px;  
}

#no_book h1 { 
    font-size: 40px;  
}
#no_book p {
  font-size: 20px;
  margin-top: 30px;
}

