    <td class="book_cover"><%= image_tag book.image, {:style => 'height: 98px; width: 74px;'} %></td>
    <td class="book_description">
				<%= link_to book.title, book.url %><br/>
				by <%= h book.author %><br/>
			<%= render :partial => 'admin_actions',  :locals => { :book => book } %>
		</td>
		
	<% if @current_item >= 1 %>
	  </tr><tr>
		<% @current_item = 0 %>
	<% else %>
		<% @current_item += 1 %>
	<% end %>