  <td class="book_cover">
		<%= link_to show_cover(book,'medium'), book_url(book) %>	
	</td>
  <td class="book_description">
			<%= link_to book.title, book_url(book) %><br/>
			by <%= h book.author %><br/>
		<%= render :partial => 'admin_actions',  :locals => { :book => book } %>
	</td>
	
<% if @current_item >= 1 %>
  </tr><tr>
	<% @current_item = 0 %>
<% else %>
	<% @current_item += 1 %>
<% end %>