<ul title="Home" selected="true">
    <li><%= link_to 'Current Books', '/iphone/current/' %></li>
    <li><%= link_to 'Next Books', '/iphone/next/' %></li>
    <li><%= link_to 'Finished Books', '/iphone/finished/' %></li>
</ul>