<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= APP_CONFIG['site_owner'] %>'s book queue</title>
  <%= stylesheet_link_tag 'scaffold' %>
 	<link rel="alternate" type="application/rss+xml" title="RSS" href="/rss"/>
</head>
<body>
<div id="header">
<b>New Feature:</b> You can now follow the book queue on <a href="http://twitter.com/bookqueue/">Twitter</a>!
</div>
<p style="color: green"><%= flash[:notice] %></p>
<%= yield  %>
<div id="footer">&nbsp;</div>
</body>
</html>
